Schemas/XSD_first.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition (Trial) 12.2.8.5459 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SalesCatalogue">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Product"
                            minOccurs="0"
                            maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name"
                                        type="xs:string" />
                            <xs:element name="Description"
                                        type="xs:string" />
                            <xs:element name="Price"
                                        type="xs:double" />
                            <xs:element name="ProductCode"
                                        type="xs:string" />
                            <xs:element name="Size">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="XXXL" />
                                        <xs:enumeration value="XXL" />
                                        <xs:enumeration value="XL" />
                                        <xs:enumeration value="L" />
                                        <xs:enumeration value="M" />
                                        <xs:enumeration value="S" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
